
.jumbotron {
    background-size:cover;
    background-image: url('./mars1.jpg'); 
}

#navBar{
    background-color: slategray;
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
}


