
.jumbotron {
    background-size:cover;
    background-image: url('./assets/mars1.jpg'); 
}

#navBar{
    background-color: rgb(92, 91, 89);
    margin-bottom: 10px;
    text-align: center;
    font-size: 35px;
    color: lightskyblue;
    text-shadow: 2px 2px orange;

}
#roverText{
    color:blue
}
#cameraSelect{
    font-size: 12px;
    padding: 8px 6px 8px 12px;
    border:solid  peru;
    border-radius: 6px;
}
#cameraText{
    font-size: 18px;
    font-style: normal;
    color: blue
}

.roverPhoto{
    width:400px;
    height: 300px;
}
.roverName{
    font-size: 18px;
    color:peru;
}
.roverDescription{
    font-size: 14px;
    color: slategray;

}